<h2>Default value expression</h2>

In first proposal of subroutine signatures, default value is the following.

<pre>
sub func($foo //= 0, $bar ||= 0) {
  
}
</pre>

I think this can use only "=" as same as many ohter languages. and "||" is in body if needed.

<pre>
sub func($foo = 0, $bar) {
  $bar ||= 0;
}
</pre>

This expression is general in other languages.

<h4>PHP</h4>

<pre>
function makecoffee($type = "cappuccino")
{
    return "Making a cup of $type.\n";
}
</pre>

<h4>Python</h4>

<pre>
def func_default(arg1, arg2='default_x', arg3='default_y'):
    print(arg1)
    print(arg2)
    print(arg3)
</pre>

<h4>Ruby</h4>

<pre>
def printHello(msg="No msg", name="No name")
  print(msg + "," + name + "¥n")
end
</pre>
