<h2>The way that CPAN authors use subroutine signatures in natural</h2>

Perl users contains CPAN authors, not only application users who use the new version of Perl.

Generally, CPAN authors use Perl old grammar to support older versions of Perl.

Most CPAN modules support Perl 5.8+, and Some modules support Perl 5.10+ and 5.12+.

<h3>CPAN authors also want to use subroutine signatures</h3>

Perl's new feature is for the new Perl, but when it comes to subroutine signatures, CPAN Author also maybe wants to use it.

If CPAN authors can use subroutine signatures, both application code and CPAN module code can be written in one source.

I think new features should work with the new Perl, but I'm happy that only the subroutine signature feature can be backported.

Wouldn't it be nice if you could use subroutine signatures with tens of thousands of CPAN modules?

But is there such a way?

<h3>Use signatures.pm if the perl version is lower than subroutine signatures</h3>

Use signatures.pm if the perl version is lower than Perl which support subroutine signatures.

I write the code. CPAN author can use signatures.pm instead of core subroutine signatures.

This code use SigImport. SigImport export signatures.pm features to Foo.

<pre>
package Foo;

use strict;
use warnings;
use utf8;
use FindBin;

use lib "$FindBin::Bin";

use SigImport;

# Subroutine signatures imported from signatures.pm
sub func($foo) {
  return $foo;
}

package main;

print Foo::func(1, 2);
</pre>

SigImport. This contains some signatures.pm fix.

<pre>
package SigImport;

BEGIN {
  require signatures;
}

BEGIN {
  no warnings 'redefine';
  sub signatures::import {
    my ($class, $caller) = @_;
    $caller ||= caller();
    $pkgs{$caller} = $class->setup_for($caller);
    return;
  }
}

sub import {
  my $caller = caller;
  
   
  #if ($] >= 5.034001) {
  #  feature->import('signatures');
  #}
  #else {
    signatures->import($caller);
  #}
}

1;
</pre>

This code work well. Swich signatures features by Perl version.

In this way, a more several things is needed.

<h4>the number of arguments in the subroutine signature is not checked by default</h4>

the number of arguments in the subroutine signature is not checked by default.

See also the following entry.

<a href="/blog/20191216153849.html">Risk increased by checking the number of subroutine arguments</a>

<h4>signatures.pm is bandled to Perl core</h4>

If signatures.pm is bandled to Perl core, we can write the following in Makefile.PL

<pre>
    PREREQ_PM => {
      'signatures.pm' => 0.15,
    },
</pre>

CPAN authores can switch signature.pm to core subroutine signatures.

Wouldn't it be nice if you could fix the past in a subroutine signature?
