<h2>Is the new grammar easy to google search?</h2>

Is the new grammar of subroutine signatures easy to google search?

One of the criticisms of Perl is that "it cannot search google because it has many symbols".

Increasing the number of difficult-to-search symbols also increases the blame for Perl.

<h3>New symbol in subroutine signature</h3>

In general, unlike function names, symbols are difficult to search for google.

List new symbols in subroutine signature.

<table>
  <li>@</li>
  <li>%</li>
  <li>!$foo</li>
  <li>:$foo</li>
  <li>?$foo</li>
  <li>??$foo</li>
  <li>is</li>
  <li>isa</li>
  <li>where</li>
</table>

Is it easy to understand when a beginner reads the code?

Can one million Perl light users easily search for google?

Put your hand on your chest and think sincerely and honestly.

If you think Perl is part of the Perl community, it will fail.

Perl is connected to business users and light users outside of Perl community.

What is a good balance?
