<h2>Larry said "No one sews a patch of unshrunk cloth on an old garment"</h2>

When he aproved Raku naming change, Larry said .

"No one sews a patch of unshrunk cloth on an old garment, for the patch will pull away from the garment, making the tear worse. Neither do people pour new wine into old wineskins. If they do, the skins will burst; the wine will run out and the wineskins will be ruined. No, they pour new wine into new wineskins, and both are preserved."

This is a Bible quotation, but needs some explanation.

<h3>New wine means Raku features. New skins means Raku name</h3>

New wine means Raku features. New skins means Raku.

<h3>old wine means Perl features. new skins means Perl name</h3>

Old wine means Perl features. Old skins means Perl name.

<h3>New Raku features don't fit old Perl name</h3>

New Raku features don't fit old Perl name.

<h3>What did Larry want to say?</h3>

If we try to add Raku's new features to Perl name, it will break Perl.

New Raku features must be put into Raku.

Both Perl and Raku have grown up. Both is over 18 years old.

Subroutine signatures are a new feature in Perl, On the other hand, if we were to get much from Raku, it would break Perl.

Why not start again from who the Perl user is?
